[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Andrew Zigler
	email = andrewzigler@gmail.com
	signingkey = 8CA628797E026F48
[init]
	defaultBranch = main
[include]
	path = ~/.gitconfig.local
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[url "https://github.com/"]
	insteadOf = git@github.com:
