# system
.DS_Store

# backup
.backup

# alacritty
catppuccin-macchiato.toml

# blightmud
blightmud/plugins

# fonts
fonts/SauceCodePro

# tmux
tmux/plugins/*
!tmux/plugins/.gitkeep

# vim
vim/autoload/plug.vim
vim/plugged
.netrwhist
viminfo

# zsh
zsh/.antigen
zsh/ohmyzsh
