<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.zig.a1111</string>
	<key>ProgramArguments</key>
	<array>
		<string>USER_HOME_PLACEHOLDER/stable-diffusion-webui/webui.sh</string>
	</array>
	<key>WorkingDirectory</key>
	<string>USER_HOME_PLACEHOLDER/stable-diffusion-webui</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
		<key>HOME</key>
		<string>USER_HOME_PLACEHOLDER</string>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/a1111.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/a1111.log</string>
</dict>
</plist>
